:root {
  /* Energy colors */
  --colorless: hsl(0, 0%, 85%);
  --darkness: hsl(189, 77%, 27%);
  --dragon: hsl(51, 60%, 35%);
  --fairy: hsl(323, 100%, 89%);
  --fighting: rgb(145, 90, 39);
  --fire: hsl(9, 81%, 59%);
  --grass: hsl(96, 81%, 65%);
  --lightning: hsl(54, 87%, 63%);
  --metal: hsl(184, 20%, 70%);
  --psychic: hsl(281, 62%, 58%);
  --water: hsl(192, 97%, 60%);

  /* Trainer colors */
  --item: hsl(205, 95%, 39%);
  --pokemontool: hsl(255, 29%, 53%);
  --stadium: hsl(106, 57%, 45%);
  --supporter: hsl(16, 87%, 53%);

  /* Card settings */
  --card-aspect: 0.718;
  --card-radius: 4.55% / 3.5%;
  --card-edge: hsl(47.14 100% 78.04%);
  --card-back: hsl(205, 100%, 25%);
  --card-glow: hsl(175, 100%, 90%);

  /* Card effects */
  --sunpillar-1: #ff7a75;
  --sunpillar-2: #ffed61;
  --sunpillar-3: #a8ff61;
  --sunpillar-4: #85fff7;
  --sunpillar-5: #7a95ff;
  --sunpillar-6: #d875ff;
  --sunpillar: var(--sunpillar-1) 25%, var(--sunpillar-2), var(--sunpillar-3),
    var(--sunpillar-4), var(--sunpillar-5), var(--sunpillar-6) 75%;

  /* Holofoil */
  --holo: var(--sunpillar-1), var(--sunpillar-2), var(--sunpillar-3),
    var(--sunpillar-4), var(--sunpillar-5), var(--sunpillar-6),
    var(--sunpillar-1);
}
